body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

textarea {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#input-text, #output-text {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    color: #333;
}
